<%- include('../includes/header') %>

<body>

<div class="container-fluid h-100">

    <div class="row justify-content-center">
        <div class="col-md-12 col-xl-9 chat" style="margin-top: 30px; margin-bottom: 30px;">
            <div class="sp-card mb-sm-3 mb-md-0 contacts_card">
                <strong><%= channel_info['room_title'] %></strong>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">

        <div class="col-md-4 col-xl-3 chat">
            <div class="card mb-sm-3 mb-md-0 contacts_card">
                <div class="contacts-format">
                    <div class="user_info">
                        <span><strong>ROOM USERS: </strong> </span>
                    </div>
                    <div class="user_info">
                        <span><i class="fas fa-users"></i> <%=channel_users.length%></span>
                    </div>
                </div>

                <div class="card-body contacts_body">

                    <ui class="contacts">
                        <% channel_users.forEach(function (ele_user) { %>
                        <!-- <li class="active"> -->
                        <li>
                            <div class="d-flex bd-highlight">
                                <div class="img_cont">
                                    <img src="<%= ele_user['avatar'] %>"
                                         class="rounded-circle user_img">
                                    <span class="online_icon <%= ele_user['status'] === 'out' ? 'offline' : '' %>"></span>
                                </div>
                                <div class="user_info">
                                    <span><%= ele_user['username'] %></span>
                                    <p><%= ele_user['username'] %> <%= ele_user['status'] !== 'out' ? 'is online' : 'left'%></p>
                                </div>
                            </div>
                        </li>
                        <% }) %>

                    </ui>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>


        <div id="message_section" class="col-md-8 col-xl-6 chat">
            <div class="card">
                <div class="card-header msg_head">
                    <div class="bd-highlight"
                         style="display: flex; align-content: center; justify-content: space-around;">
                        <img src="/img/l-chat/chat_room.png" width="150px" class="ser_img">

                    </div>
                    <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                    <div class="action_menu">
                        <ul>
                            <li><i class="fas fa-user-circle"></i> View profile</li>
                            <li><i class="fas fa-users"></i> Add to close friends</li>
                            <li><i class="fas fa-plus"></i> Add to group</li>
                            <li><i class="fas fa-ban"></i> Block</li>
                        </ul>
                    </div>
                </div>


                <lu id="chatting_text_area" class="card-body msg_card_body">
                    <li class="d-flex justify-content-start mb-4">
                        <div class="img_cont_msg">
                            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                 class="rounded-circle user_img_msg">
                        </div>
                        <div class="msg_cotainer">
                            Hi, There?
                            <span class="msg_time">8:40 AM, Today</span>
                        </div>
                    </li>
                </lu>


                <div class="card-footer">
                    <div class="input-group">
                        <input name="new_message" class="form-control sp_type_msg" placeholder="Type your message..."/>
                        <div class="input-group-append">
                            <span id="button_1" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#action_menu_btn').click(function () {
            $('.action_menu').toggle();
        });
    });


    $(function () {
        const chat_section = $('#chatting_text_area');

        const user_data = {username: '<%= user.username %>', mb_id: '<%= user.authorId %>'};
        const room_id = '<%= channel_info['room_id'] %>';

        const socket = io('http://31.220.109.104:4004', {transports: ['websocket', 'xhr-polling']});
        socket.on('connect', function () {
            console.log('connect: browser connection on process');
        });

        socket.emit('joinRoom', {room_id: room_id});

        socket.on('newMessage', function (msg) {
            console.log('newMessage', msg);

            if (msg.from.mb_id === 'admin') {
                let html = `<li class="d-flex justify-content-center mb-4">
                        <div class="sp-msg_cotainer_send">${msg.text}</div>
                        <div class="img_cont_msg">
                            <img src=${msg.from.avatar} class="rounded-circle sp-user_img_msg">
                        </div>
                    </li>`;
                chat_section.append(html);
            }
            else {
                let prepared_time = msg.text.length > 12 ? msg.time : '';
                let html = '';
                if (msg.from.mb_id === user_data.mb_id) {
                    html = `<li class="d-flex justify-content-end mb-4">
                                <div class="msg_cotainer_send">
                                    ${msg.text}
                                    <div class="msg_time_send">${prepared_time} Today</div>
                                </div>
                                <div class="img_cont_msg">
                                    <img src="${msg.from.avatar}" class="rounded-circle user_img_msg">
                                </div>
                            </li>`;
                } else {
                    html = `<li class="d-flex justify-content-start mb-4">
                                <div class="img_cont_msg">
                                    <img src="${msg.from.avatar}" class="rounded-circle user_img_msg">
                                </div>
                                <div class="msg_cotainer">
                                     ${msg.text}
                                     <span class="msg_time">${prepared_time} Today</span>
                                </div>
                            </li>`
                }
                chat_section.append(html);
            }
            document.querySelector('#chatting_text_area').scrollTop = document.querySelector('#chatting_text_area').scrollHeight;
        });

        socket.on('connect_error', (err) => {
            console.log('connect_error', err);
        });

        $('input[name=new_message]').on('keypress', function (e) {
            if (e.key === 'Enter') {
                let text = $('input[name=new_message]').val();
                if (text.length === 0) {
                    e.preventDefault();
                    alert("empty message")
                } else {
                    $('input[name=new_message]').val('').focus();
                    socket.emit('createMessage', {room_id: room_id, type: 'msg:common', text: text});
                }
            }
        })

        $('#button_1').on('click', function () {
            let text = $('input[name=new_message]').val();
            $('input[name=new_message]').val('').focus();
            socket.emit('createMessage', {room_id: room_id, type: 'msg:common', text: text});
        });

    });
</script>

<%- include('../includes/footer') %>