<%- include('../includes/header') %>

<body>
<div>
    <p style="margin: 20px">hi dude <strong><%= user.username %></strong>, Here is chatting rooms those we have:</p>
    <lu id="channel_list" style="font-size: large">
        <% channel_list.forEach(channel => { %>
        <li>
            <a href="/l-chat/room?room_id=<%= channel['room_id'] %>"><%= channel['room_title'] %></a>
        </li>
        <% }) %>
    </lu>
    <a href="/l-chat/creat-room"
       target="popup"
       onclick="OpenPopupCenter('/l-chat/creat-room/<%=user.authorId%>','create chat room', 600, 400); return false;">
        Open Link in Popup
    </a>

</div>

<script type="text/javascript">
    const user_name = '<%= user.username %>';
    const socket = io('http://31.220.109.104:4004', {transports: ['websocket', 'xhr-polling']});
    console.log('this: ', socket);

    socket.on('connect', function () {
        console.log('browser connection on process');
    });

    //TODO: Get updates on channel list and put on top
    socket.on('newChannelData', function (msg) {
        console.log('MSG: ', msg);
    });

    socket.on('disconnect', function () {
        console.log('disconnected');
    });

    socket.on('connect_error', (err) => {
        console.log(err);
    });

    function OpenPopupCenter(pageURL, title, w, h) {
        let left =  Math.round((screen.width/2)-(w/2));
        let top =  Math.round((screen.height/2)-(h/2));
        window.open(pageURL, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
    }

</script>

<%- include('../includes/footer') %>