<%- include('includes/header') %>

<div class="container py-md-5 container--narrow">

    <% if(sucFollow != '') { %>
    <div class="alert alert-success text-center">
        <%= sucFollow %>
    </div>
    <% } %>
    <% if(failFollow != '') { %>
    <div class="alert alert-danger text-center">
        <%= failFollow %>
    </div>
    <% } %>

    <h2><img class="avatar-small" src="<%= avatar %>"> <%= username %>

        <% if(user && isVisitorFollowing) { %>
        <form class="ml-2 d-inline" action="/unfollow/<%= username %>" method="POST">
            <button class="btn btn-danger btn-sm">Stop Following<i class="fas fa-user-times"></i></button>
        </form>
        <% } else if(user && !isVisitorFollowing && !isVisitorTheOwner) { %>
        <form class="ml-2 d-inline" action="/follow/<%= username %>" method="POST">
            <button class="btn btn-primary btn-sm" style="background-color: #28a745">Follow <i class="fas fa-user-plus"></i></button>
        </form>
        <% } %>



    </h2>

    <div class="profile-nav nav nav-tabs pt-2 mb-4">
        <a href="/profile/<%= username %>" class="profile-nav-link nav-item nav-link">Posts: <%= allMessages.length %></a>
        <a href="/profile/<%= username %>/followers" class="profile-nav-link nav-item nav-link  active">Followers: <%= listOfFollowersAuthor.length %></a>
        <a href="/profile/<%= username %>/followings" class="profile-nav-link nav-item nav-link ">Following: <%= numberOfFollowings %></a>
    </div>

    <% if(! listOfFollowersAuthor ) { %>
    <div>No Followers</div>
    <% } else { %>
    <div class="list-group">
        <% listOfFollowersAuthor.forEach(function(ele){ %>
        <a href="/profile/<%= ele.username %>" class="list-group-item list-group-item-action">
            <img class="avatar-normal" src="<%= ele.avatar %>">
            <strong><%= ele.username %></strong>
        </a>
        <% }) %>
    </div>
    <% } %>


</div>

<%- include('includes/footer') %>