<%- include('includes/header') %>

<div class="container py-md-5 container--narrow">

    <% if(sucFollow != '') { %>
    <div class="alert alert-success text-center">
        <%= sucFollow %>
    </div>
    <% } %>
    <% if(failFollow != '') { %>
    <div class="alert alert-danger text-center">
        <%= failFollow %>
    </div>
    <% } %>

    <h2><img class="avatar-small" src="<%= avatar %>"> <%= username %>

        <% if(user && isVisitorFollowing) { %>
        <form class="ml-2 d-inline" action="/unfollow/<%= username %>" method="POST">
            <button class="btn btn-danger btn-sm">Stop Following<i class="fas fa-user-times"></i></button>
        </form>
        <% } else if(user && !isVisitorFollowing && !isVisitorTheOwner) { %>
        <form class="ml-2 d-inline" action="/follow/<%= username %>" method="POST">
            <button class="btn btn-primary btn-sm">Follow <i class="fas fa-user-plus"></i></button>
        </form>
        <% } %>



    </h2>

    <div class="profile-nav nav nav-tabs pt-2 mb-4">
        <a href="#" class="profile-nav-link nav-item nav-link active">Posts: <%= allMessages.length %></a>
        <a href="#" class="profile-nav-link nav-item nav-link ">Followers: 3</a>
        <a href="#" class="profile-nav-link nav-item nav-link ">Following: 2</a>
    </div>

    <% if(!allMessages) { %>
    <div>No messages</div>
    <% } else { %>
    <div class="list-group">
        <% allMessages.forEach(function(ele){ %>
        <a href="/post/<%= ele._id %>" class="list-group-item list-group-item-action">
            <img class="avatar-tiny" src="<%= avatar %>">
            <strong><%= ele.body %></strong> on
            <%= ele.createdDate.getFullYear() +'/'+ (ele.createdDate.getMonth()+1)+'/'+ele.createdDate.getDate() %>
        </a>
        <% }) %>
    </div>
    <% } %>


</div>

<%- include('includes/footer') %>