<%- include('includes/header') %>

<div class="container py-md-5 container--narrow">
    <div class="d-flex justify-content-between">
        <h2><%=message.title%></h2>
        <span class="pt-2">
            <button id="007">PRESS</button>
            <a href="#" class="text-primary mr-2" data-toggle="tooltip" data-placement="top" title="Edit"><i
                    class="fas fa-edit"></i></a>
            <form class="delete-post-form d-inline" action="#" method="POST">
                <button class="delete-post-button text-danger" data-toggle="tooltip" data-placement="top"
                    title="Delete"><i class="fas fa-trash"></i></button>
            </form>
        </span>
    </div>

    <p class="text-muted small mb-4">
        <a href="/profile/<%= author.username %>"><img class="avatar-tiny" src="<%= author.avatar %>"></a>
        Posted by <a href="/profile/<%= author.username %>"><%=author.username%></a> on <%=message.createdDate%></p>

    <div class="body-content">
        <p><%=message.body%></p>

    </div>

</div>

<%- include('includes/footer') %>